<nav><!-- top nav -->
		<div class="menu">
			<ul>
				</li>

				<li><%= nav_link_to "Home", "home", home_path, "current_page" %>
				
				</li>
				<li><%= nav_link_to "About", "about", about_us_path, "current_page" %>
			    <ul>
   					<li><%= nav_link_to "Contact Us", "contact_us", contact_us_path, "current_page" %></li>
   				</ul>
  			</li>
			  <li><%= nav_link_to "Products", "products", products_path, "current_page" %></li>
				<li><%= nav_link_to "Articles", "articles", articles_path, "current_page" %>
			    <ul>
   					<li><%= nav_link_to "Newsletter", "newsletter", newsletter_path, "current_page" %></li>
   				</ul>
  			</li>				
				<li><%= nav_link_to "Blog", "blog", blog_path, "current_page" %></li>
				<li><%= nav_link_to "Calendar", "calendar", calendar_path, "current_page" %></li>
				<li><%= nav_link_to "Login", "login", login_path, "current_page" %></li>	
			</ul>
		</div>
</nav><!-- end of top nav -->


